@media only screen and (max-width: 768px){
    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }
    .section-2 .cover{
        background-position: -25vmin -10vmin;
    }
    .numbers .rect{
        width: 10rem;
        height: 8rem;
    }
    .numbers .rect h1{
        font-size: 2rem;
    }
    .section-4 .team {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
@media only screen and (max-width: 425px){
    footer .row .col-md-2 {
        margin-top: 8vmin;
    }
}